.card {
    background: linear-gradient(to right, #5B53FF, #635BFF);
    color: #ffffff;
  }
  
  .welcome-content {
    display: flex;
    flex-direction: column;
  }
  
  .card-title{
    background: #534FD8;
    padding: 10px;
    border-radius: 4px; 
  }
  
  .welcome-subtitle {
    font-size: 1rem;
    margin: 5px 0 0 0;
    opacity: 0.9
    
  }
  