<div class="container-fluid">
  <div class="content">
    <app-breadcrumb [title]="'Dashboard'" [controllerData]="controllerData" [isServerOnline]="isServerOnline"></app-breadcrumb>
    <app-bienvenue></app-bienvenue>
    <div class="row  g-4">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <app-statistiques [isServerOnline]="isServerOnline"></app-statistiques>
      </div>

      <div class="col-12 col-sm-12 col-md-7 col-lg-7">
        <app-infos-serveur *ngIf="isServerOnline" [isServerOnline]="isServerOnline" [systemInfo]="systemInfo"></app-infos-serveur>
      </div>

    </div>
    
    
  </div>
</div>


    