nav.navbar {
    height: 56px;
    z-index: 1050; /* Plus haut que la sidebar */
    color: #5A5A5A;
  }
h1{
  font-size: 1rem;
}

.navbar-brand{
  font-weight: 200;
  img{
    border-radius: 50%;
    height: 35px;
  }

}
  
  
  