<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Bouton Sidebar -->
    <button
      class="btn btn-header me-3"
      type="button"
      (click)="toggleSidebar.emit()"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <!-- Titre ou Logo -->
    <span class="navbar-brand">
      <img src="../../../assets/favicon.ico" alt="Logo" class="me-2" />
      {{ title }}
    </span>

    <!-- Boutons alignés à droite -->
    <div class="d-flex ms-auto align-items-center">
      <!-- Bouton Serveur -->
      <button
        class="btn btn-header me-3"
        [ngbTooltip]="isServerOnline ? 'Serveur connecté' : 'Serveur hors ligne'"
        placement="bottom"
      >
        <fa-icon [icon]="isServerOnline ? faCheck : faXmark" [ngClass]="isServerOnline ? 'text-success' : 'text-danger'"></fa-icon>
      </button>

      <!-- Profil -->
      <div class="dropdown"  *ngIf="isLoggedIn">


        <button
          class="btn btn-profil dropdown-toggle"
          id="profileDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <fa-icon [icon]="faUser"></fa-icon>&nbsp;
          <span class="d-none d-lg-inline">{{ username }} &nbsp;</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <li><a (click)="authService.logout()" class="dropdown-item" [routerLinkActive]="['is-active']">Déconnexion</a></li>
        </ul>
      </div>
      <button
          *ngIf="!isLoggedIn;"
          class="btn btn-profil"
          routerLink="/login"
        >
          <fa-icon [icon]="faUser"></fa-icon>&nbsp;
          <span class="d-none d-lg-inline">Connexion &nbsp;</span>
        </button>
    </div>
  </div>
</nav>
