
.card{
  background: linear-gradient(180deg, #36c76c1f 0, #36c76c08);;
  color: #DDE0E3;

  h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  a{
    border: none;
    background-color: #1A2537 !important;
    color: #36C76C;
    &:hover{
      background-color: #36C76C !important;
      color: #1A2537 !important;
    }
  }
}