.card{
    color: #DDE0E3;
    background-color: #253662;
    padding: 10px 20px;
}



h5{
    font-size: 1.2rem;
    font-weight: bold;
}
li{
    background-color: #253662;
    color: #fff;
    padding: 5px ;
    margin: 5px;
}
