<div class="row g-4 mt-4">
  <div class="col-12">
    <div class="card text-center shadow-sm" *ngIf="!isLoading">
        
      <div class="card-body" >
        <apx-chart
        [series]="chartSeries"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.apexTooltip"
        [title]="chartOptions.title">
      </apx-chart>
      </div>-
    </div>
  </div>
</div>
