


.status-batterie{
  background-color: #253662;
  color: #DDE0E3;
    
    
}
h5 {
    font-size: 18px;
    // font-weight: 400;
    line-height: 20px;
    border-bottom: 1px solid #5a5a5a;
    padding-bottom: 10px;
  }
  .fa-spin{
    font-size: 1.5rem;
    color: #635BFF;
  }


  .badge {
    font-size: 12px;
    font-weight: 600;
    padding: 7px ;
    border-radius: 6px;
  }

  .bg-success{
    background-color: #ebfaf0  !important;
    color: #36c76c  !important;

  }
  .bg-danger{
    background-color: #ffccdb !important;
    color: #ff6692 !important;
  }

  

.btn{
  background-color: #635BFF !important;
  color: rgba(255, 255, 255, .8)  !important;

}
.btn:hover{
  background-color: #212A49 !important;
  color: rgba(255, 255, 255, .8)  !important;
}


  
 