<div class="container-fluid">
  <div class="content">
    <!-- En-tête -->
    <div class="content-header d-flex align-items-center justify-content-between">
      <h4 class="content-title">
        <fa-icon [icon]="faSolarPanel"></fa-icon> &nbsp; 
        <span *ngIf="isServerOnline">Données en temps réel du panneau solaire</span>
        <span *ngIf="!isServerOnline">Dernières données enregistrées du panneau solaire</span>
      </h4>
      <button class="btn btn-sm btn-alt-primary" *ngIf="controllerData && !isLoading">
          Le {{ controllerData.controller_date | date: 'd MMMM yyyy à HH:mm':'-01:00':'fr' }}
      </button>
      <button class="btn btn-sm btn-alt-primary" *ngIf="isLoading">
        <fa-icon [icon]="faSun" class="fa-spin" animation="shake"></fa-icon>
      </button>
    </div>

    <app-ps-data [isServerOnline]="isServerOnline" *ngIf="!isLoading"></app-ps-data>
    <!-- <app-ps-graphique [isServerOnline]="isServerOnline" *ngIf="!isLoading"></app-ps-graphique> -->
  </div>
</div>
  