<div class="layout">
  <!-- Header -->
  <app-header (toggleSidebar)="toggleSidebar()" [isServerOnline]="isServerOnline"></app-header>

  <!-- Sidebar + Contenu -->
  <div class="d-flex">
    <!-- Sidebar -->
    <app-sidebar [isOpen]="isSidebarOpen" [ngClass]="{ 'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen }"></app-sidebar>

    <!-- Contenu principal -->
    <div class="content-wrapper flex-grow-1" [ngClass]="{ 'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen }">
      <main class="main-content p-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
