.pourcentage-card{
  background-color: #253662;
  color: #DDE0E3;
}
a{
  border: none;
  background-color: #1A2537 !important;
  color: #635BFF;
  &:hover{
    background-color: #635BFF !important;
    color: #1A2537 !important;
  }
}


h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.fa-spin{
  font-size: 1.5rem;
  color: #635BFF;
}
.progress{
      background-color: #1E313A; /* Changez cette couleur selon vos besoins */
      border-radius: 0.25rem;
      overflow: hidden; /* Assure que les bordures sont bien contenues */
      color: #29343D;
}
.progress-bar{
  color: #5a5a5a;
  font-weight: bolder;
}


.progress-good{
  background-color: #36C76C;
  
}
.progress-danger{
  background-color: #FF6692;
}
.progress-middle{
  background-color: #F8C20A;
}