<div class="container-fluid">
  <div class="content">
    <app-breadcrumb 
      [title]="'Batterie'"
      [controllerData]="controllerData"
      [isServerOnline]="isServerOnline"
    ></app-breadcrumb>

    <div class="row  g-4">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <app-batterie-data *ngIf="!isLoading" (labelSelected)="onLabelSelected($event)" [isServerOnline]="isServerOnline" ></app-batterie-data>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <app-batterie-pourcentage *ngIf="!isLoading" [isServerOnline]="isServerOnline" [batteryCharge]="batteriePourcentage$"></app-batterie-pourcentage>
      </div>
    </div>
    <app-batterie-graphique [selectedLabel]="selectedLabel"></app-batterie-graphique>
    <app-batterie-parametres *ngIf="!isLoading"></app-batterie-parametres>

  </div>
</div>
  