<!-- Affichage de l'icône de chargement -->
<div class="loading-spinner" *ngIf="isLoading">
  <fa-icon [icon]="faSun" class="fa-spin" animation="spin"></fa-icon>
  <p>Chargement en cours...</p>
</div>

<div class="mt-5" *ngIf="!isLoading">
  
  <div *ngIf="erreurMessageConnexion" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ erreurMessageConnexion }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
  </div>

    <div class="card shadow-sm border-none" style="max-width: 900px; border-radius: 20px;">
      <div class="row g-0">
        <!-- Colonne gauche (formulaire) -->
        <div class="col-lg-6 p-4">
          <div class="card-header">
            
            <h4 class="mb-1">Connexion</h4>
          </div>
          <div class="card-body">
            <div *ngIf="(authService.authStatus$ | async) else loggedOut">
              <p>Vous êtes connecté !</p>
              <button (click)="authService.logout()"  class="btn w-100 mt-4">Déconnexion</button>
            </div>

            <ng-template #loggedOut>
            <form (ngSubmit)="login()">
              <!-- Champ e-mail -->
              <div class="mb-3">
                <label for="username" class="form-label">Identifiant</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="username" 
                    id="username" 
                    name="username" 
                    placeholder="Nom d'utilisateur" 
                    class="form-control" 
                    autocomplete="username"
                    required >
                </div>
              </div>
              <!-- Champ mot de passe -->
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <div class="input-group">
                  <input 
                    [(ngModel)]="password" 
                    name="password" 
                    type="password" 
                    id="password"
                    placeholder="Mot de passe" 
                    class="form-control"
                    autocomplete="current-password"
                    required >
                </div>
              </div>

              <!-- Actions -->
              
                <p class="text-info">Ludo35300 / Kammthaar1999</p>
              
  
              
              
              

              <button type="submit" class="btn w-100 mt-4">Connexion</button>
              <p *ngIf="error">{{ error }}</p>
            </form>
          </ng-template>
          </div>
        </div>

        
  
        <!-- Colonne droite (image/logo) -->
        <div class="d-none d-lg-block col-lg-6 text-center image p-4" >
          <div class="d-flex justify-content-center align-items-center h-100">
            <img src="../../../assets/icone.png" alt="Logo" class="img-fluid" style="max-width: 70%; border-radius: 10px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  