
.card {
    max-width: 800px;
    background: #1A2537;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    box-shadow:0 2px 4px -1px #afb6c933 !important;
    color: rgba(255, 255, 255, .8);
    p{
        color:#635BFF;
        font-size: 20px;
    }

    h4{
        color: #fff;
    }
    .image{
        border-left: solid #333F55 1px;
      }
}
      
  
    /* Style des inputs */
input.form-control {
    background-color: #1A2537;
    color: #6c757d;
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 8px;  /* Coins arrondis */
    font-size: 1rem;  /* Taille de la police */
    padding: 0.8rem 1rem;  /* Espacement intérieur */
    transition: all 0.3s ease;  /* Transition pour effet de focus */
    width: 100%; /* S'assurer que les champs remplissent leur conteneur */
}

/* Style du label */
input:focus {
    // color: #635BFF;
    border-color: #ff6692;  /* Bordure bleue lorsque l'input est actif */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3); /* Légère ombre bleue */
}

/* Effet de transition des labels */
input.form-control::placeholder {
    color: #fff; /* Couleur des placeholders */
    opacity: 1;  /* Assurer que le placeholder soit bien visible */
}
/* Style des labels */
label {
    font-weight: 400;
    color: #fff;  /* Couleur de texte pour les labels */
    margin-bottom: 0.5rem;
    font-size: 14px;
    display: block;
}
.btn{
    background-color: #635BFF;
    color: white;
}
.btn:hover{
    background-color: #6F68FF;
}
      