<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm border-none" style="max-width: 900px; border-radius: 20px;">
      <div class="row g-0">
        <!-- Colonne gauche (formulaire) -->
        <div class="col-lg-6 p-4">
          <div class="card-header">
            <p>
                <img src="../../../assets/favicon.ico" alt="Logo" class="img-fluid" style="border-radius: 100px;" /> &nbsp;
                Kammthaar
            </p>
            <h4 class="mb-1">Connexion</h4>
          </div>
          <div class="card-body">
            <div *ngIf="authService.isLoggedIn(); else loggedOut">
              <p>✅ Vous êtes connecté !</p>
              <button (click)="authService.logout()"  class="btn w-100 mt-4">Déconnexion</button>
            </div>

            <ng-template #loggedOut>
            <form (ngSubmit)="login()">
              <!-- Champ e-mail -->
              <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="username" 
                    name="username" 
                    placeholder="Nom d'utilisateur" 
                    class="form-control" 
                    autocomplete="username"
                    required >
                </div>
              </div>
              <!-- Champ mot de passe -->
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <div class="input-group">
                  <input 
                    [(ngModel)]="password" 
                    name="password" 
                    type="password" 
                    placeholder="Mot de passe" 
                    class="form-control"
                    autocomplete="current-password"
                    required >
                </div>
              </div>

              <!-- Actions -->
              <!-- <div class="d-flex justify-content-between mb-3">
                <a href="#" class="text-decoration-none text-info">Mot de passe oublié ?</a>
              </div> -->
  
              
              
              

              <button type="submit" class="btn w-100 mt-4">Connexion</button>
              <p *ngIf="error">{{ error }}</p>
            </form>
          </ng-template>
          </div>
        </div>

        
  
        <!-- Colonne droite (image/logo) -->
        <div class="d-none d-lg-block col-lg-6 text-center image p-4" >
          <div class="d-flex justify-content-center align-items-center h-100">
            <img src="../../../assets/icone.png" alt="Logo" class="img-fluid" style="max-width: 70%; border-radius: 10px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  