<div class="row g-4 mt-4" >
    <div class="col-12 col-sm-8" >
        <!-- Si Kammthaar est connecté -->
        <div class="card">
            <div class="card-header">
              <h5>Paramètres de la batterie</h5>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <!-- Informations du serveur du Kammthaar s'il est en ligne -->
                <tbody *ngIf="batterieParametresData">
                    <tr>
                        <td>
                            <fa-icon [icon]="faCircleInfo" tooltip="Représente la quantité d'énergie que la batterie peut fournir lorsqu'elle est complètement chargée" placement="right"></fa-icon>
                            &nbsp;  Type de batterie
                        </td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.battery_type}}</td>
                    </tr>
                    <tr>
                        <td>Capacité</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.battery_capacity}} Ah</td>
                    </tr>
                    <tr>
                        <td>
                            <fa-icon [icon]="faCircleInfo" tooltip="Courant utilisé pour charger la batterie" placement="right"></fa-icon>
                            &nbsp; Niveau de charge
                        </td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.battery_charge}} A</td>
                    </tr>
                    <tr>
                        <td>Niveau de décharge</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.battery_discharge}} A</td>
                    </tr>
                    <tr>
                        <td>Tension nominale</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.battery_rated_voltage}} V</td>
                    </tr>
                    <tr>
                        <td>Tension de charge boostée</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.boost_charging_voltage}} V</td>
                    </tr>
                    <tr>
                        <td><fa-icon [icon]="faCircleInfo"></fa-icon> &nbsp; Durée de la charge boostée</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.boost_duration}} min</td>
                    </tr>
                    <tr>
                        <td>Tension de reconnexion après boost</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.boost_reconnect_voltage}} V</td>
                    </tr>
                    <tr>
                        <td>Tension limite de charge</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.charging_limit_voltage}} V</td>
                    </tr>
                    <tr>
                        <td>Mode de charge</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.charging_mode}}</td>
                    </tr>
                    <tr>
                        <td>Mode de charge par défaut</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.default_load_mode}}</td>
                    </tr>
                    <tr>
                        <td>Tension limite de décharge</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.discharging_limit_voltage}} V</td>
                    </tr>
                    <tr>
                        <td>Tension d'égalisation</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.equalize_charging_voltage}} V</td>
                    </tr>
                    <tr>
                        <td>Durée de l'égalisation</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.equalize_duration}} min</td>
                    </tr>
                    <tr>
                        <td>Tension de charge flottante</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.float_charging_voltage}} V</td>
                    </tr>
                    <tr>
                        <td> Tension minimum de reconnexion</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.float_charging_voltage}} V</td>
                    </tr>
                    <tr>
                        <td> Tension maximum avant déconnexion</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.over_voltage_disconnect}} V</td>
                    </tr>
                    <tr>
                        <td> Tension de reconnexion après surcharge</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.over_voltage_reconnect}} V</td>
                    </tr>
                    <tr>
                        <td> Courant de charge nominal</td>
                        <td class="d-flex justify-content-end">{{ batterieParametresData.rated_charging_current}} A</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>    