<div class="sidebar  d-flex flex-column" [ngClass]="{ collapsed: !isOpen }">
  <ul class="list-unstyled pt-4 flex-grow-1">
      <li>
        <a routerLink="/dashboard" [routerLinkActive]="['is-active']" class="d-flex align-items-center px-3 py-2" (click)="closeSidebar()" >
          <fa-icon [icon]="faLocationArrow" class="me-3"></fa-icon>Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/ps" [routerLinkActive]="['is-active']" class="d-flex align-items-center px-3 py-2" (click)="closeSidebar()">
          <fa-icon [icon]="faSolarPanel" class="me-3"></fa-icon>Panneau solaire
        </a>
      </li>
      <li>
        <a routerLink="/consommation" [routerLinkActive]="['is-active']"class="d-flex align-items-center px-3 py-2" (click)="closeSidebar()">
          <fa-icon [icon]="faPlugCircleMinus"  class="me-3"></fa-icon>Consommation
        </a>
      </li>
      <li>
        <a routerLink="/controller" [routerLinkActive]="['is-active']"class="d-flex align-items-center px-3 py-2" (click)="closeSidebar()">
          <fa-icon [icon]="faDumpster"  class="me-3"></fa-icon>Contrôleur MPPT
        </a>
      </li>
      <li>
        <a routerLink="/batterie/details" [routerLinkActive]="['is-active']" class="d-flex align-items-center px-3 py-2" (click)="closeSidebar()">
        <fa-icon [icon]="faDumpster"  class="me-3"></fa-icon>Batterie
        </a>
      </li>
      <li>
        <hr class="sidebar-divider" />
      </li>
  </ul>

  <ul class="list-unstyled mb-3">
    <li>
      <a routerLink="/apropos" [routerLinkActive]="['is-active']" class="d-flex align-items-center px-3 py-2" (click)="closeSidebar()">
        <fa-icon [icon]="faDumpster"  class="me-3"></fa-icon>A propos
      </a>
    </li>
  </ul>
</div>
  