<div class="card shadow-sm border-0 ">
  <div class="row g-4">
    <div class="col-12">
      <div class="card-body text-center" >
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [yaxis]="chartOptions.yaxis"
              [title]="chartOptions.title"
              [legend]="chartOptions.legend"
              [plotOptions]="chartOptions.plotOptions"
              [dataLabels]="chartOptions.dataLabels"
              [tooltip]="chartOptions.tooltip"
              [grid]="chartOptions.grid"
            ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>