
<app-breadcrumb [title]="'Controlleur MPPT'"></app-breadcrumb>
    <div class="row g-4">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <app-charging *ngIf="chargingEquipmentStatus$ | async as chargingEquipmentStatus" [chargingEquipmentStatus]="chargingEquipmentStatus"></app-charging>
        <app-charging-errors *ngIf="chargingEquipmentStatus$ | async as chargingEquipmentStatus" [chargingEquipmentStatus]="chargingEquipmentStatus"></app-charging-errors>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <app-discharging *ngIf="dischargingEquipmentStatus$ | async as dischargingEquipmentStatus" [dischargingEquipmentStatus]="dischargingEquipmentStatus"></app-discharging>
        <app-discharging-errors *ngIf="dischargingEquipmentStatus$ | async as dischargingEquipmentStatus" [dischargingEquipmentStatus]="dischargingEquipmentStatus"></app-discharging-errors>
        <!-- <app-controller-temperature *ngIf="controllerData$ | async as controllerData" [controllerData]="controllerData" (labelSelected)="onLabelSelected($event)"></app-controller-temperature> -->
      </div>
    </div>