<div class="container-fluid">
  <div class="content">
    <app-breadcrumb 
      [title]="'Données du controleur MPPT'"
      [controllerData]="controllerData"
      [isServerOnline]="isServerOnline"
    ></app-breadcrumb>

    <div class="row  g-4">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <app-controller-data [isServerOnline]="isServerOnline" *ngIf="!isLoading" (labelSelected)="onLabelSelected($event)"></app-controller-data>
        <app-controller-graphique [selectedLabel]="selectedLabel"></app-controller-graphique>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <app-controller-temperature [isServerOnline]="isServerOnline" (labelSelected)="onLabelSelected($event)"></app-controller-temperature>
      </div>
    </div>
  </div>
</div>