<div class="container-fluid">
  <div class="content">
    <!-- En-tête -->
    <div class="content-header d-flex align-items-center justify-content-between">

      <h4 class="content-title">
        <fa-icon [icon]="faDumpster"></fa-icon> &nbsp;
        <span *ngIf="isServerOnline">Données en temps réel du controlleur MPPT</span>
        <span *ngIf="!isServerOnline">Dernières données enregistrées du controlleur MPPT</span>
      </h4>

      <button class="btn btn-sm btn-alt-primary" *ngIf="controllerData && !isLoading">
        {{ controllerData.controller_date | date: 'Le d MMMM yyyy à HH:mm':'-01:00':'fr' }}
      </button>
      
      <button class="btn btn-sm btn-alt-primary" *ngIf="isLoading">
        <fa-icon [icon]="faSun" class="fa-spin" animation="shake"></fa-icon>
      </button>
    </div>

    <app-controller-data [isServerOnline]="isServerOnline" *ngIf="!isLoading" (labelSelected)="onLabelSelected($event)"></app-controller-data>
    <app-controller-graphique [selectedLabel]="selectedLabel"></app-controller-graphique>
  </div>
</div>