<div class="container-fluid">
    <div class="content">
      <app-breadcrumb *ngIf="controllerData$ | async as controllerData" [title]="'Paramètres de la batterie'" [controllerData]="controllerData" [isServerOnline]="isServerOnline"></app-breadcrumb>
  
      <div class="row  g-4">
        <div class="col-md-12 ">
            <app-parametres *ngIf="batterieParametresData$ | async as batterieParametresData" [batterieParametresData]="batterieParametresData"></app-parametres>
        </div>
      </div>
      
  
    </div>
  </div>