<!-- En-tête -->
<div class="content-header d-flex align-items-center justify-content-between ">
  <h4 class="content-title pt-1">{{title}}</h4>

  <div class="float-end  d-flex align-items-center" *ngIf="breadcrumbData$ | async as breadcrumb" >
      <div class="d-none d-md-block">
        <!-- Gestion du décalage horaire entre le Raspberry et le serveur  -->
        <button class="btn  btn-alt-primary" *ngIf="isServerOnline" [ngbTooltip]="'Données en temps réel'" placement="bottom">
          Le {{ breadcrumb?.current_device_time | date: 'dd/MM/yyyy à HH:mm':'GMT':'fr' }}
        </button>
        <button class="btn btn-alt-primary" *ngIf="!isServerOnline" [ngbTooltip]="'Dernières données enregistrées'" placement="bottom">
            Le {{ breadcrumb?.current_device_time | date: 'dd/MM/yyyy à HH:mm':'GMT':'fr' }}
        </button>
      </div>
      <div class="d-md-none">
        <button 
          class="btn btn-alt-primary" 
          [ngbTooltip]="
            isServerOnline 
              ? 'Données en temps réel au ' + (breadcrumb?.current_device_time | date: 'dd/MM/yyyy à HH:mm':'GMT':'fr') 
              : 'Dernières données enregistrées le : ' + (breadcrumb?.current_device_time | date: 'dd/MM/yyyy à HH:mm':'GMT':'fr')
            " 
          placement="bottom">
          <fa-icon class="ms-auto" [icon]="faClock" ></fa-icon>
        </button>
      </div>

      <button class="btn btn-alt-primary etatJour" [ngbTooltip]="breadcrumb?.day_time ? 'Panneau actif' : 'Panneau inactif'" placement="bottom">
        <fa-icon class="ms-auto" [icon]="breadcrumb?.day_time ? faSun : faMoon"></fa-icon>
      </button>
  </div>
</div>