.content-header {
    background: #fff;
    padding: 0.75rem 1rem;
    border-radius: 8px;

    box-shadow: 0 2px 4px -1px #afb6c933 !important;
  
    h4 {
      font-weight: 600;
      font-size: 1.2rem;
      color: #5a5a5a;
    }
    button{
        color: #635bff !important;
        background-color: #dddbff !important;
}
    
    .etatJour{
        margin-left: 10px;
    }
    
  }
  