html, body { 
    background-color: #1A2537;
}
body { margin: 0; font-family: "Roboto", "Inter", "Manrope" , "Helvetica Neue", sans-serif; height:100%;}

/* couleurs */
.btn-alt-primary {
    --bs-btn-color: #043d7d;
    --bs-btn-bg: #c1d9f3;
    --bs-btn-border-color: #c1d9f3;
    --bs-btn-hover-color: #022853;
    --bs-btn-hover-bg: #83b2e8;
    --bs-btn-hover-border-color: #83b2e8;
    --bs-btn-focus-shadow-rgb: 165,194,225;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #cde1f5;
    --bs-btn-active-border-color: #c7ddf4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #c1d9f3;
    --bs-btn-disabled-border-color: #c1d9f3;
}
.btn-alt-secondary {
  --bs-btn-color: #212529;
  --bs-btn-bg: #eaedf1;
  --bs-btn-border-color: #eaedf1;
  --bs-btn-hover-color: #1c1f23;
  --bs-btn-hover-bg: #d3d5d9;
  --bs-btn-hover-border-color: #d3d5d9;
  --bs-btn-focus-shadow-rgb: 204, 207, 211;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #eef1f4;
  --bs-btn-active-border-color: #eceff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #eaedf1;
  --bs-btn-disabled-border-color: #eaedf1;
}
.color-primary{
  color: #1263BE
}
/* SPINNER DES COMPONENTS */
.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* S'assure que le spinner est centré verticalement */
  text-align: center;

  .fa-spin {
    color: #007bff; /* Couleur du spinner */
    font-size: xx-large;
    margin-bottom: 10px; /* Espacement sous l'icône */
  }

  p {
    font-size: 18px; /* Optionnel : Taille du texte */
    color: #555; /* Couleur du texte */
  }
}